.cube{
    height: 200px;
    width: 200px;
    position: relative;
    margin: 100px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateX(25deg) rotateY(-25deg);

}
.face{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 20%;
    transition: all 1s;
   

}
.one{
    background-color: skyblue;

}

.two{
    background-color: red;
    transform: rotateY(90deg) translateX(-100px) translateZ(-100px)
}
.three{
    background-color: rgb(27, 235, 169);
    transform: rotateY(335deg) translateX(-100px) translateZ(100px) translateY(-100px);
}
.four{
    background-color: chartreuse;
    transform: rotateY(90deg) translateX(-100px) translateZ(100px);
}
